{{ ansible_managed | comment }}

# base conf
set constantshow
set autoindent
set historylog
set locking
set stateflags
set smarthome
set suspendable
set tabsize 4
set whitespace "»·"

# nano style
set titlecolor bold,lightwhite,blue
set statuscolor bold,lightwhite,cyan
set errorcolor bold,lightwhite,red
set selectedcolor lightwhite,magenta
set stripecolor ,yellow
set scrollercolor cyan
set numbercolor cyan
set keycolor cyan
set functioncolor yellow

# highlighting
include "/usr/share/nano/*.nanorc"