{{ ansible_managed | comment }}

# base conf
set constantshow
set autoindent
set historylog
set locking
set smarthome
set tabsize 4
set whitespace "»·"

# nano style
set titlecolor brightwhite,cyan
set statuscolor brightwhite,cyan
set errorcolor brightwhite,red
set selectedcolor brightwhite,cyan
set stripecolor ,yellow
set numbercolor cyan
set keycolor brightred
set functioncolor cyan

# highlighting
include "/usr/share/nano/*.nanorc"
